.readers-table table {
    background-color: white;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}
.readers-table th {
    padding: 14px 20px;
    border-bottom: 1px solid black;
    font-size: 16px;
}

.readers-table td {
    padding: 15px 20px 10px 0;
    text-align: left;

}
.readers-table th {
    font-weight: bold;
}
.borrowers-btn {
    float: right;
    margin: 30px 0;
    background-color: #666;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    cursor: pointer;
}

.borrowers-btn:hover {
    background-color: #008686;
    transition: background-color 0.3s;
}
